@model BZRForumMedia.Server.ViewModels.TipDokumentacijeViewModel

@{
    ViewData["Title"] = "Izmeni tip";
    int idTipa = ViewBag.Id;
}
<div class="container">
    <h1>Izmeni tip</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditTip" asp-controller="AdminTipDokumentacije" asp-route-id="@idTipa">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ImeTipa" class="control-label"></label>
                    <input asp-for="ImeTipa" class="form-control" />
                    <span asp-validation-for="ImeTipa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sačuvaj" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Nazad na listu</a>
    </div>

</div>