@using BZRForumMedia.Server.ViewModels
@model LoginViewModel
<div class="container">
    <h1>Unesi novu lozinku</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="form-group">
                    <input asp-for="Email" type="hidden" value="rand@value.com" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Potvrdi</button>
            </form>
        </div>
    </div>
</div>